* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    width: 1200px;
    margin: 10px auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 1000px;
}
.txt{
    font-size: x-large;
    font-weight: bold;
    margin: 8px;
}
hr{
    margin-top: 7px;
    margin-bottom: 7px;
}
.create-task{
    margin-left: auto;
    margin-right: 10px;
    width: 90px;
    height: 30px;
    border-radius: 4px;
}
.create-task:hover{
cursor: pointer;
}

.state-of-task {
    display: flex;
    border-bottom: 2px solid #ccc;
    width: 1000px;
    margin-top: 20px;
    align-self: center;
  }
  
  .state-of-task button {
    
    flex: 1;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: 2px solid black;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, border-bottom-color 0.3s;
  }
  
  .state-of-task button:not(:last-child) {
    border-right: 1px solid #ccc;
  }
  
  .state-of-task button:hover,
  .state-of-task button.active {
    background-color: #ddd;
    border-bottom: 3px solid #2196F3;
  }
  
  .state-of-task button:focus {
    outline: none;
  }

 .radio-btn{
  display: flex;
  justify-self: baseline;
  gap: 5px;
 }

 .hide {
  display: none !important;
}

.modal-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(250, 248, 248, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  margin-left: 10px;
}
.close-btn {
  background: none;     
  border: none;          /* Remove border */
  padding: 0;            /* Remove padding */
  margin: 0;             /* Remove margin */
  outline: none;         /* Remove outline */
  cursor: pointer;       
  top: 10px;             
  right: 10px;           
}

/* Span styling */
.close-btn span {
  font-size: 24px;       /* Size of the "×" */
  color: #aaa;           /* Initial color */
}

.close-btn span:hover {
  color: #000;           /* Hover color */
}

.submit-btn{
    width: 50px;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;

}

.allmain{
  justify-self: center; 
  align-self: center; 
}
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  margin-top: 25px;
  border-radius: 12px;
  background-color: beige;
  height: auto;
  padding: 20px;
}
.task-dsp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  margin: 10px 0;
  height: auto;
  border-radius: 15px;
  background-color: aqua;
  padding: 10px;
}
  
